aws_region             = "us-east-1"
project_name           = "gridnode"
vpc_cidr               = "10.0.0.0/16"
public_subnet_cidr     = "10.0.1.0/24"
private_subnet_cidr    = "10.0.2.0/24"
private_subnet_b_cidr  = "10.0.3.0/24"
availability_zone      = "us-east-1a"
artifact_bucket_name   = "gridnode-artifacts-prod-12345"
instance_type          = "t3.micro"
db_username            = "gridnode_user"
